.grid {
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

.c1 {
    background-color:  black;
}

.c2, .c3 {
    background-color: grey;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: cyan;
}

.frog {
    background-color: green;
}