@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

#foto {
    color: black;
}

h1,h2,h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.button {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

/* Navegação */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, sans-serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #ffffff
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#sobre h2 {
    color: #ffffff;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .button {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/* Serviços */

#serviço {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviço div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* Foto */

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#fotos h2 {
    margin-bottom: 20px;
}

#fotos img {
    width: 100%;
}

/* Contato */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

/* Footer */

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #00ffff;
}

@media screen and (min-width: 768px){
    nav {
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 40vh;
        justify-content: center;
    }
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #serviço {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #serviço h2 {
        text-align: center;
        width: 100%;
    }

    #serviço h3 {
        padding: 1rem 0;
    }

    #serviço img {
        height: 3.5rem;
    }

    #serviço div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
        align-items: center;
        height: 15rem;
    }
    #fotos {
      flex-direction: row;
      flex-wrap: wrap;
    }

    #fotos img {
        width: 50%;
    }

    #fotos h2{
        width: 100%;
        text-align: center;
    }
    #fotos p {
        width: 33.33333%;
    }
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2, #contato p {
        width: 100%;
    }
}