@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

input, select {
    margin-top: 10px;
    width: 500px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font-size: 17px;
}

label {
    margin-left: 50px;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
    display: grid;
}

form {
    display: grid;
    grid-template-columns: 600px 600px;
    margin-top: 50px;
}

.form-section {
    display: grid;
    justify-items: center;
}

.confirmation, .forma_pagamento, .dados_banco {
    justify-content: center;
    width: 1200px;
}

::placeholder {
    font-size: 18px;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

.banco {
    display: flex;
    border: 1px solid rgba(141, 141, 141, 0.625);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 60px 20px 10px;
    align-items: center;
}

.matriz {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

img {
    margin-right: 25px;
    width: 75px;
    height: 75px;
}

#button {
    margin: 75px 0;
    height: 45px;
    width: 250px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #337ab7;
    border-color: #225079;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 5px;
    font-size: 17px;
}

#warning {
    width: 600px;
    margin-left: -140px;
    margin-top: 60px;
}   
