.first {
    padding-top: 10rem;

    @include breakpoint-down(large) {
        padding-top: 0;
    }

    &__content {
        width: 78rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        @include breakpoint-down(large) {
            width: 100%;
        }
    }

    &__image {
        position: relative;
 
        @include breakpoint-down(large) {
            width: 100%;
            //left: 5%;

            img {
                width: 90%;
            }
        }
    }

    &__text {
        width: 43rem;
        position: relative;
        background-color: white;
        bottom: 15rem;
        right: -35rem;
        padding: 5rem 5rem 0 5rem;

        @include breakpoint-down(large) {
            position: static;
            width: 100%;
            bottom: 0;
            right: 0;
            text-align: center;
            padding: 0 2rem;
        }

        h2 {
            font-size: 3.5rem;
            font-family: Josefin Sans, sans-serif;
            font-weight: 300;
        
            @include breakpoint-down(large) {
                font-size: 2rem;

            }
        }
        

        p {
            font-family: Alata, sans-serif;
            font-weight: 400;
            font-size: 0.9rem;
            color: grey;
        }
    }
}