.hero {
    width: 40rem;
    margin-top: 10%;
    z-index: 1;

    &__text {
        border:  0.13rem solid white;
        padding: 2rem;
        h1 {
            color: white;
            font-size: 4rem;
            font-weight: 300;
            font-family: Josefin Sans, sans-serif;
        }
    }
}