// Fonts

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

// Colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// Font Sizes

