@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms forwards;
          animation: fade-in 300ms forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms forwards;
          animation: fade-out 300ms forwards;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, a, p {
  font-family: Alata, sans-serif;
}

.container {
  margin: 3rem 10%;
}

header {
  height: 100vh;
}

.header {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/loopstudios-landing-page-main/code/img/desktop/image-hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

@media (max-width: 39.9375em) {
  .header {
    background-image: url("/loopstudios-landing-page-main/code/img/mobile/image-hero.jpg");
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 64em) {
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  z-index: 1;
}

.header__hamburger {
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 64em) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger .span {
  background-color: white;
  width: 25px;
  height: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__hamburger .span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links {
  display: none;
}

@media (min-width: 64em) {
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
}

.header__links a {
  color: white;
  text-decoration: none;
}

.header__links a::before {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 60%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  right: 0;
  bottom: -40px;
  background: white;
  opacity: 0;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links ul:not(:last-child) {
  margin-right: 1.5rem;
}

.header__links-mobile {
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
}

.header__links-mobile li {
  padding-left: 3rem;
  padding-top: 35vh;
}

.header__links-mobile a {
  color: white;
  text-decoration: none;
  font-family: Josefin Sans, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}

.header .show {
  visibility: visible;
}

.header .show .span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .show .span:nth-child(2) {
  opacity: 0;
}

.header .show .span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero {
  width: 40rem;
  margin-top: 10%;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .hero {
    width: 20rem;
  }
}

@media (max-width: 39.9375em) {
  .hero {
    margin: 8rem 0 0 0;
    width: 100%;
  }
}

.hero__text {
  width: 90%;
  border: 0.13rem solid white;
  padding: 1.2rem;
}

@media (max-width: 39.9375em) {
  .hero__text {
    margin-left: 5%;
  }
}

.hero__text h1 {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  font-family: Josefin Sans, sans-serif;
}

@media (max-width: 63.9375em) {
  .hero__text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 39.9375em) {
  .hero__text h1 {
    font-size: 2.8rem;
  }
}

.first {
  position: relative;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */