* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    width: 100%;
    grid-area: header;
}

main {
    background-color: blue;
    width: 100%;
    grid-area: main;
}

aside {
    background-color: green;
    width: 100%;
    grid-area: aside;
}

footer {
    background-color: yellow;
    width: 100%;
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "header header"
                        "aside main"
                        "footer footer";

    /*grid-row-gap: 20px;
    grid-column-gap: 20px;*/
}