.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    .container {
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr repeat(2, 1fr) 2fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: "logo links1 links2 cta"
                                "social links1 links2 copyright";
            grid-gap: 1rem;
            justify-items: start;
        }
    }

    a {
        color: $white;
    }

    &__logo {

        @include breakpoint-up(large){
            grid-area: logo;
        }
    }

    &__social {
        height: 1.25rem;

        a:not(:last-child) {
            display: inline-block;
            margin-right: 1rem;
        }
        a {
            svg path {
                transition: fill 200ms ease-in-out; 
            }
            &:hover svg path {
                fill: $limeGreen;
            }
        }

        @include breakpoint-down(medium) {
            margin: 1.875rem 0;
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;
        line-height: 2.25;

        a {
            transition: color 200ms ease-in-out;
        
            &:hover {
                color: $limeGreen;
            }
        }

        @include breakpoint-up(large){
            align-items: flex-start;
        }

        &.col1 {

            @include breakpoint-up(large){
                grid-area: links1;
            }
        }

        &.col2 {

            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large){
                grid-area: links2;
            }
        }
    }

    &__cta {

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: cta;
            justify-self: right;
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $grayishBlue;

        @include breakpoint-up(large){
            grid-area: copyright;
            align-self: end;
            justify-self: right;
        }
    }


}