.hero {

    @include breakpoint-up(large) {
        display: flex;
        align-items: center;
    }

    &__image {
        position: relative;
        background-image: url("/img/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
        }

        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-image:  url("/img/image-mockups.png");
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breakpoint-up(large) {
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: center 150%;
                left: 22%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            //background-image: url("/html-css-006/img/bg-intro-desktop.svg");
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: left center;

            @include breakpoint-up(medium){
                background-size: 52%;
            }

            @include breakpoint-up(large){
                width: 150%;
                background-image: url("/img/bg-intro-desktop.svg");
                background-size: 122%;
                background-position: 0% 83%;
            }
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}