.grid {
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.previous-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}
.previous-shape {
    height: 80px;
    width: 80px;
}
div {
    background-color: yellow;
    height: 20px;
    width: 20px;
}
.block {
    background-color: blue;
}
.block2 {
    background-color: purple;
}
.block3 {
    background-color: green;
}