.hero {
    width: 40rem;
    margin-top: 10%;
    z-index: 1;

    @include breakpoint-down(medium) {

        width: 20rem;
    }

    @include breakpoint-down(small) {

        margin: 8rem 0 0 0;
        width: 100%;
    }

    &__text {
        width: 90%;
        border:  0.13rem solid white;
        padding: 1.2rem;

        @include breakpoint-down(small) {
            margin-left: 5%;
        }

        h1 {
            color: white;
            font-size: 4rem;
            font-weight: 300;
            font-family: Josefin Sans, sans-serif;

            @include breakpoint-down(medium){
                font-size: 2rem;
            }
            
            @include breakpoint-down(small){
                font-size: 2.8rem;
            }
        }
    }
}